html,
body,
div,
h1,
li {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #fff;
  padding: 15px;
  margin: 0 auto;
  max-width: 1360px;
  height: auto;
}

a {
  text-decoration: none;
  color: #333;
}
