footer {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 50px 0;
}

#footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

#footer-links div:first-child {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.special-links {
  margin: 0 auto;
}

#social-links {
  display: flex;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  justify-content: space-around;
}

footer i {
  font-size: 1.1rem;
}

footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 50px;
}

footer form input {
  font-size: 0.7rem;
  padding-left: 10px;
  line-height: 25px;
  box-sizing: border-box;
}

footer form input:focus {
  outline: none;
  padding: 2px 10px;
  border: 1px solid #bcbcbc;
}

footer form button {
  width: 65px;
  font-size: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: none;
  padding: 8px;
  letter-spacing: 0.1rem;
  border: 0.5px solid black;
  cursor: pointer;
}

footer form button:focus {
  outline: none;
}

footer div:last-child {
  font-size: 0.6rem;
  color: #cccccc;
}

@media screen and (min-width: 300px) {
  #footer-links div:first-child {
    justify-content: space-evenly;
    width: auto;
    margin-right: 0;
  }

  #footer-links a:nth-child(-n + 2) {
    margin-right: 25px;
  }
}

@media screen and (min-width: 750px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #footer-links {
    display: block;
    margin-bottom: 0;
    width: 33%;
  }

  #social-links {
    width: 33%;
    margin-bottom: 0;
    justify-content: space-evenly;
  }

  footer div:nth-last-child(2) {
    width: 33%;
    margin-bottom: 0;
  }

  footer div:nth-last-child(2) p {
    margin: 0;
  }
}
