#new-in {
  margin-bottom: 100px;
}

#new-in > button {
  display: inline-block;
  letter-spacing: 0.2rem;
  margin: 50px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

#new-in-list button {
  border: none;
  outline: none;
  cursor: pointer;
}

#new-in-list li p {
  padding: 0;
  margin: 0;
}

#new-in-list li:nth-last-child(2) {
  margin-bottom: 0;
}

#new-in-list li:last-child {
  margin-bottom: 0;
}

#new-in-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

#new-in-list li {
  list-style-type: none;
  margin-bottom: 25px;
  width: 48%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#new-in-list li:hover .sizes {
  display: block;
}

#new-in-list li:hover .new-img {
  opacity: 0.4;
}

.new-img {
  max-width: 100%;
}

.clothing {
  font-size: 80%;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.sizes {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.2rem;
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  #new-in-list li {
    width: 32%;
  }

  #new-in-list {
    justify-content: start;
  }

  #new-in-list li:nth-child(-n + 2),
  #new-in-list li:nth-child(4),
  #new-in-list li:nth-child(5),
  #new-in-list li:nth-last-child(2) {
    margin-right: 1.5%;
  }
}

@media screen and (min-width: 960px) {
  #new-in-list {
    justify-content: space-between;
  }

  #new-in-list li {
    width: 23%;
  }

  #new-in-list li:nth-child(-n + 2),
  #new-in-list li:nth-child(4),
  #new-in-list li:nth-child(5),
  #new-in-list li:nth-last-child(2) {
    margin-right: 0;
  }
}
